body, html {
    width : 100%;
}
#application {
    width : 100%;
}
header {
    height : 50px;
}
header h1 {
    color : #29d;
    font-size : 23px;
    font-family : fantasy;
    font-weight : normal;
}
#menu {
    position : fixed;
    z-index : 20;
    top : 100px;
    left : 0;
    padding-bottom : 2px;
    border : #f1f1f1 solid 1px;
}
#menu ul {
    list-style-type : none;
    padding : 0;
    margin-top : 0;
    margin-bottom : 0;
}
#menu ul li {
    background : white;
    border-bottom : 1px solid #f1f1f1;
    transition : all 0.2s;
    border-left : 7px solid #ffffff;
    cursor : pointer;
    margin-bottom : -1px;
}
#menu ul li:last-child {
    border-bottom : none;
}
#menu ul .selected {
    border-left : 7px solid cornflowerblue;
}
.menu-disabled {
    border-left : 7px solid rgb(199, 199, 199);
}
#menu ul li a img {
    width : 18px;
    height : 18px;
    margin : 20px;
    margin-left : 10px;
}
#menu ul li a img:hover {
    color : #dfdfdf;
}
#main-section {
    width : 100%;
    margin-left : 67px;
    margin-top : 0;
}
#main-section > div {
    display : none;
    width : 100%;
    transition : all 0.2s;
}
#main-section #status {
    min-height : 20px;
    width : 100%;
    font-style : italic;
    color : gray;
    margin-bottom : 20px;
}
#left-div {
    width : 100%;
    overflow : hidden;
}
#app {
    width : 100%;
    overflow : hidden;
}
#right-div {
    width : 0%;
}
.idea-home {
    color : rgb(239, 239, 239);
    color : rgb(34, 153, 221);
    font-size : 17px;
}
.idea-div {
    margin : 0;
    padding : 0;
    animation-delay : 2s;
    transition : all 0.2s;
    overflow : hidden;
}
.idea-id {
    display : inline-block;
    width : 20px;
    color : gray;
}
.idea-textarea {
    padding : 3px;
    min-width : 566px;
    font-size : 19px;
    display : inline;
    border : 1px solid transparent;
    resize : none;
    border-bottom : 1px solid rgb(234, 239, 255);
    tab-size : 5;
    padding-bottom : 0;
    height : 27px;
    margin-left : 5px;
    background: none;
}
.idea-textarea:focus {
    border : transparent solid 1px;
    border-bottom : 1px solid #F4F4F4;
    outline : 0;
}
.link {
    color: rgb(98, 87, 250);
}

a {
    text-decoration: none;
}
.shadow-textarea {
    box-shadow : 0 -4px 4px rgb(136, 136, 121);
}
.current-line {
    background: #eef7ff;
}
.info-span {
    color : rgb(226, 226, 226);
    font-family : Georgia;
    font-size : 20px;
}
#right-cell {
    width : 50%;
}
.numberOfChildren {
    color : rgb(70, 227, 255);
    width : 25px;
    display : inline;
}
.warning, .problem {
    width : 30px;
    margin-left : 5px;
    display : inline-block;
}
.content {
    display : inline;
    overflow : hidden;
}
.idea-id {
    display : inline;
}
.parent-focused {
    border-bottom : 1px solid #F4F4F4;
    font-weight : bold;
    color : rgb(204, 204, 204);
}
#search-tab {
    position : fixed;
    right : 0;
    top : 10px;
    z-index : 20;
}
#search-tab #search {
    color : rgb(226, 226, 226);
    border : none;
    transition : all 0.2s;
    border-bottom : 1px solid #F4F4F4;
    height : 23px;
    width : 200px;
    font-size: 17px;
    background-image : url('../../Images/search.png');
    background-repeat : no-repeat;
    padding-left : 25px;
    margin-right : 60px;
    display : block;
}
#search-tab #search::-webkit-input-placeholder {
    color : rgb(226, 226, 226);
}
#search-tab #search::-moz-placeholder {
    color : rgb(226, 226, 226);
}
#search-tab #search:-ms-input-placeholder {
    color : rgb(226, 226, 226);
}
#search-tab #search:-moz-placeholder {
    color : rgb(226, 226, 226);
}
#search-tab #search:focus {
    color : rgb(34, 153, 221);
    outline : none;
    border-bottom : 1px solid #A0C2F9;
}
.beforeDots, .afterDots {
    font-size : 22px;
    color : rgb(228, 228, 228);
    display : inline-block;
    font-family : "Times New Roman", Times, serif;
}
.endOfOccurence, .numberOfOccurences:after {
    content : "";
    display : block;
    border-bottom : 1px solid #dfdfdf;
    margin : 2px;
    height : 10px;
    width : 100%;
}
.numberOfOccurences {
    font-style : italic;
    color : gray;
}
.highlightWord {
    background : #fff5cc !important ;
    border-bottom : 1px solid #fc3 !important ;
}
.ui-menu .ui-menu-item {
    font-size : 12px;
    width : 204px;
    overflow-wrap : break-word;
}
.ui-menu-item {
    overflow : hidden;
    width : 222px;
}
.search-result {
    margin : 0;
    padding : 0;
    padding-bottom : 8px;
    border-bottom : 1px solid #dfdfdf;
}
.search-result-parent {
    display : block;
    color : rgb(204, 204, 204);
}
.search-result-link {
    display : block;
}
.search-result-content {
    padding-left : 20px;
    display : inline-block;
}
.ui-widget-content {
    background : #fff;
}
.ui-autocomplete {
    max-height : 400px;
    overflow-y : auto;
    overflow-x : hidden;
}
* html .ui-autocomplete {
    height : 100px;
}
.idea-home {
    min-height : 50px;
}
.option-editor {
    width : 20px;
    height : 20px;
    margin-left : 10px;
    margin-right : 10px;
    cursor : pointer;
    position : absolute;
    top : -15px;
}
.option-editor:hover {
    top : -20px;
}
.idea-home .editor-parent {
    font-size : 14px;
}
.idea-home .editor-parent:hover {
    text-decoration : underline;
    cursor : pointer;
}
.idea-home .options {
    display : none;
    position : relative;
}
.idea-home:hover > .options {
    display : inline-block;
}
.no-close .ui-dialog-titlebar-close {
    display : none;
}

.hover {
    cursor:pointer;
}