
/* Visual List */

#visual .name {
    font-size: 21px;
    border: 1px solid #F9F9F9;
    padding: 5px;
    display: inline-block;
    border-radius: 4px;
    padding-bottom: 0px;
    padding-top: 0px;
}

#visual .name:hover {
    background: #F4FCFF;
    border: 1px solid #A9DEF5;
}


#visual ul {
    margin: 0;
    list-style-type: none;
    position: relative;
    padding-left: 10px;
}

#visual li {
    list-style-type: none;
    border-left: 2px solid #000;
    margin-left: 1em;
}

#visual li div {
    padding-left: 1em;
    padding-top: 15px;
    position: relative;
}

#visual li div::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    height: 20px;
    bottom: 60px;
    width: 0.75em;
    border: 2px solid #000;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
}

#visual ul > li:last-child {
    border-left: 2px solid transparent;
}

#visual .expand {
}

#visual .button {
    margin-right: 10px;
    margin-left: 5px;
    height: 16px;
    width: 16px;
    cursor: pointer;
}
#visual .option {    
    display: none;
}

#visual .hidden {
    display: none;
}

#visual .parent {
    color: rgb(34, 153, 221);
    font-size: 14px;
}

#visual .parent:hover {
    text-decoration: underline;
    cursor:pointer;
}

#visual .idea:hover > .option {
    display: inline-block;
}

#lines {
    overflow: hidden;
}

#lines #target {
    width: 100%;
    overflow: visible;
    height: 100%;
    -moz-tab-size : 5;
    -o-tab-size : 5;
    tab-size : 5;
}