
/* Visual List */

#visual .name {
    border: 1px solid #f1f1f1;
    padding: 5px;
    border-radius: 4px;
}

#visual .name:hover {
    background: #9999ff;
    cursor:pointer;
}

#visual ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

#visual li {
    list-style-type: none;
    border-left: 2px solid #000;
    margin-left: 1em;
}

#visual li div {
    padding-left: 1em;
    padding-top: 15px;
    position: relative;
}

#visual li div::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    bottom: 70%;
    width: 0.75em;
    border: 2px solid #000;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
}

#visual ul > li:last-child {
    border-left: 2px solid transparent;
}