/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02.05.2015, 18:27:51
    Author     : Cristian
*/

body {
  width: 100%;
}

#layout {
  display: table;
  display:table;
  width: 99%;
}

.cell {
  border: 1px solid #dfdfdf;
  display: table-cell;
  width: 50%;
}​

#left-cell {
  width: 50%;
}


.idea-div{
  margin: 0px;
  padding: 0px;
  -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
  animation-delay: 2s;
  transition:all 0.2s;
}

.idea-id {
  display: inline-block;
  width: 20px;
  color:gray;
}

.idea-textarea {  
  -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
  animation-delay: 2s;
    padding: 3px;
    min-width: 400px;
  font-size: 13px;
  height: 18px;
  display: inline;
  border: 1px solid #FFFFFF;
  resize: none;  
  border-bottom: 1px solid rgb(234, 239, 255);
  -moz-tab-size : 4;
  -o-tab-size : 4;
  tab-size : 4;
  padding-bottom: 0px;
  transition:all 0.2s;

}

.idea-textarea:focus {
  border: 1px solid #FFFFFF;
  border-bottom:1px solid rgb(255, 241, 216);
  outline: 0;
}


.info-span {
  color: rgb(226, 226, 226); 
  font-family: Georgia;
  font-size: 15px;
}

#right-cell {
  width: 50%;
  /* margin-right: -20px; */
}

.numberOfChildren {
  color:rgb(70, 227, 255);
  width: 25px;
  display: inline;
}

.warning {
  width: 30px;  
  margin-left: 5px;
  display: inline-block;
}

.content {
  display: inline;
}

.idea-id {
  display: inline;
}

.parent-focused {
  border-bottom:  1px solid #F4F4F4; 
  font-weight: bold;
  font-size: 15px;
}
